/Test1RemoveCharacterFromString.class
/Test2RemoveConsecutiveDuplicates.class
/Test2RemoveConsecutiveDuplicates_Me.class
/Test3MergeSort.class
/Test3MergeSort_Me.class
/Test4QuickSort.class
/Test4QuickSort_Me.class
/Test5FindSubSequences.class
/Test5PrintSubsequences.class
/Test6PrintKeyPad.class
/Test6PrintKeyPad_Me.class
/Test6ReturnKeypad.class
/Test6ReturnKeypad_Me.class
/Test7StairCase.class
/Test8Flags.class
/Test8Flags_Me.class
/Test8MinimumCount.class
/Test8MinimumCount_Me.class
/Test90ToInteger.class
/Test90ToInteger_Me.class
/Test91ReplacePi.class
/Test91ReplacePi_Me.class
/Test92Interleavings.class
/Test92Interleavings_Me.class
/Test93ReturnAllCodes.class
/Test93ReturnAllCodes_Me.class
/Test94IncreasingNumbers.class
/Test95StringLengthK.class
/Test96parentheses.class
