/Test1_Factorial.class
/Test2_SumOfNaturalNumbers.class
/Test3_FibonacciNumber.class
/Test4_CheckSorted.class
/Test5_CheckSorted.class
/Test6_Find_Power.class
/Test6_Find_Power_Me.class
/Test7_Numbers_From_1_to_n.class
/Test7_Numbers_From_1_to_n_Me.class
/Test8_Number_of_Digits.class
/Test8_Number_of_Digits_Me.class
/Test91_Print_Number.class
/Test92_Stack_overflow.class
/Test93_Sum_Elements_Array.class
/Test93_Sum_Elements_Array_Me.class
/Test94_Find_Elements.class
/Test94_Find_Elements_Me.class
/Test95_First_Index.class
/Test95_First_Index_Me.class
/Test96_Last_Index.class
/Test96_Last_Index_Me.class
/Test97_Last_Index_X.class
/Test97_Last_Index_X_Me.class
/Test98_Count_Zeros.class
/Test991_Multiplication.class
/Test991_Multiplication_Me.class
/Test992_Check_Palindrome.class
/Test992_Check_Palindrome_Me.class
/Test993_Geometric_Sum.class
/Test993_Geometric_Sum_Me.class
/Test99_Sum_Of_Digits.class
/Test99_Sum_Of_Digits_Me.class
/Test9_Print_Number.class
