/Test1_String_Method.class
/Test2_Counts_Words.class
/Test3_Palindrome.class
/Test4_all_substrings.class
/Test5_Reverse_String_Word_Wise.class
/Test6_Row_wise_sum.class
/Test7_Largest_Row_Column.class
/Test8_Print_Wave.class
/Test9_Print_Sprial.class
